#title{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;

}
h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
body{
  font-family: 'Ubuntu',sans-serif;
}
.jumbotron{
  background-color: black;
  margin-bottom: 0;
  border-radius: 0;
}
#navigation-bar{
  background-color: #695dbd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 1rem;
}
body a{
  color: white;
}
body a:hover{
  color: black;
  text-decoration: none;
}

.navbar-toggler-icon{
  background-color: #e0ebe8;
}
#item-carousal{
  background-color: #e0ebe8;
}
#smartphones{
  text-align: center;
  font-family: 'Ubuntu',sans-serif;
  margin: 2.5rem 0 2.5rem;
}
#smartphones p{
  margin-top: 5px;
}
#shoes{
  text-align: center;
  font-family: 'Ubuntu',sans-serif;
  background-color:;
  margin: 2.5rem 0 2.5rem;
}
h5{
  margin-top: 5px;
}

#clothes{
  text-align: center;
  font-family: 'Ubuntu',sans-serif;
  margin: 2.5rem 0 2.5rem;
}
#clothes p{
  margin-top: 5px;
}
#body h1{
  background-color: #45a29e;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}
#footer {
  text-align: center;
  padding: 3% 15% 3%;
  background-color: #d79922;
}

.footer-text {
  color: white;
}

.footer-icon {
  margin: 7px;
}
.img-thumbnail:hover{
  opacity: 0.7;
}
.newarrival{
 background: red;
 width: 50px;
 color: white;
 font-size: 1rem;
 font-weight: bold;
}
h2{
  font-family: 'Ubuntu',sans-serif;
}
.products-rating{
  font-size: 1rem;
}
.pricetag{
  font-size: 1.7rem;
  font-weight: bold;
}
button{
  margin-bottom: 8px;
}


.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}
